footer{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 60px;
    background-color: #DFE0DF;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align:center; 
    font-size: 15px;
}

.iconfooter{
    display: flex;
    justify-content: center;
    
} 